<div class="container">
  <div class="form-container">
    <div class="title">Login</div>
    <form>
      <mat-form-field appearance="outline">
        <mat-label>Enter your email</mat-label>
        <input type="text" matInput autocomplete="off"/>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Enter your password</mat-label>
        <input type="password" matInput />
      </mat-form-field>
      <div class="buttons-container">
        <button class="login-button" mat-raised-button>
          Login
        </button>
        <p>OR</p>
        <button class="create-button" mat-raised-button>Create Account</button>
      </div>
    </form>
  </div>
</div>
